{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Django Site</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
	{%  include 'accounts/navbar.html' %}
	<div class="container-fluid">
	    {% block content %}{% endblock %}
    </div>
	{% include 'initials/footer.html' %}
	
</body>

</html>