{% extends 'accounts/main.html' %}


{% block content %}
    {% include 'accounts/status.html' %}

    <div class="col-md-12">

		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_order' %}">Create Order</a>
			<table class="table table-lg">
				<tr>
					<th>Product</th>
                    <th>Note</th>
					<th>Date Orderd</th>
					<th>Status</th>
				</tr>
                {% for order in oerders %}
                    <tr>
                        <td>{{ order.customer.name }}</td>
                        <td>{{ order.product.name }}</td>
                        <td>{{ order.date_created }}</td>
                        <td>{{ order.status }}</td>
                        <td><a href="{% url 'update_order' order.id %}" class="btn btn-primary">update</a></td>
                        <td><a href="{% url 'delete_order' order.id %}" type="submit" class="btn btn-danger">remove</a></td>
                    </tr>

                {% endfor %}

			</table>
		</div>
	</div>

{% endblock %}